<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="studentDB.css">    
</head>

<body>
    <div class="navi">
        <div id="images"><img src="logo_mallareddy.png" alt="notfound"> <img id="logo2" src="logo_121.png" ></div>
        <div class="hamburger-icon" onclick="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="nav-links">
            <a href="https://mrcet.com/index.html" class="home">MRCET Official</a>
            <a href="https://mrcet.com/studentpage.html">ERP Login</a>
            <a href="studentDB.html" class="db">Student DB</a>
        </div>
    </div>
    <div class="body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur laboriosam alias dolor velit. Dolores maiores cupiditate totam, ex quae nulla commodi cumque dolorum impedit dolorem nihil voluptatibus eaque qui pariatur ducimus rerum officia, beatae quos deleniti praesentium aut! Dolore quo iste, dolores molestiae error quisquam dolorum iure ad voluptates vitae maxime ratione voluptas placeat? Quia libero explicabo sapiente vel saepe quis atque quam impedit amet enim possimus odit magni pariatur aut, dolorem dolor debitis voluptatum neque dignissimos rerum excepturi? Laborum quisquam cum omnis dolorem modi eligendi saepe fuga incidunt atque magni impedit, ab sit aspernatur, nam odit quas, sunt illo! Odit quidem doloremque, ratione nulla, dolore esse dolores cupiditate blanditiis magnam quod quos asperiores culpa laudantium maiores. Quo provident ut minima suscipit accusamus? Totam pariatur expedita voluptates nemo, neque doloribus quisquam repellat reiciendis magnam vitae aliquid sequi tempora! Perspiciatis repudiandae necessitatibus temporibus laborum nostrum commodi, amet velit dicta nobis ducimus eos quam quod quis sed eum repellat harum minima nemo sit consequuntur optio earum libero voluptas quidem? Dolorum doloremque vitae minima iste repellendus corporis, nulla eveniet! Officia eligendi est beatae. Porro perferendis corrupti ea architecto explicabo, accusantium adipisci mollitia, commodi dolorem repellendus libero? Earum, sequi ex accusantium assumenda omnis, non reprehenderit totam nobis facilis quod pariatur expedita perspiciatis quos beatae aliquam, soluta amet quisquam autem nesciunt error? Expedita amet eaque repellendus eos voluptatum tempore adipisci mollitia nesciunt quis vitae, quam sint cum voluptate corrupti magnam magni quod fuga, consectetur dolore, dicta quas in iste et! Voluptatibus quae nobis perspiciatis officiis cum inventore beatae pariatur fuga labore minus nemo iste aspernatur voluptates eveniet assumenda, aut quia expedita fugiat enim adipisci animi dolorem ea illum id? Nostrum, magni fugiat incidunt cupiditate molestias quas rerum nam veritatis voluptates repellendus culpa odio excepturi vitae sunt a dolorem! Incidunt natus dolorem praesentium, aspernatur blanditiis totam a ad dicta adipisci magnam voluptas libero accusantium eligendi eaque ipsam dolore exercitationem rem minima iure, aut id harum ea reiciendis aperiam! Illum officia assumenda voluptatibus commodi ipsum aut facere nulla distinctio aliquam, optio voluptatem fugit expedita, nostrum itaque omnis reprehenderit reiciendis minima eius eligendi unde delectus repudiandae vero praesentium! Voluptatem, minima fugiat dolore facere debitis consequuntur quisquam quia vel odio incidunt dolorem non harum quos impedit dolores
    </div>

    <script>
        function toggleMenu() {
            var navLinks = document.querySelector('.nav-links');
            navLinks.classList.toggle('active');
        }
    </script>
</body>
</html>
